/*PARAMETRES*/
:root{
    --color1: #FFFFFF;
    --color2: #416bc7;
    --color3: black;
    --color4: grey;
    --color5: #000c25;
}
::-webkit-scrollbar{
    background: var(--color5);
    width: 14px;
}
::-webkit-scrollbar-thumb{
    background: var(--color2);
    border-radius: 5px;
}
html{
    font-size: 62.5%;
    font-family: 'Carter One', cursive;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
h2{
    text-align: center;
    font-size: 40px;
    color: var(--color1);
}
p{
    font-size: 2vh;
    color: var(--color1);
    width: 50vw;
    max-width: 80rem;
    text-align: justify;
}
.sectionFond{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url("../data/fondheader.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondWizard{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url("../data/fondWizard.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 200;
    animation: animationFond 6s ease-in-out;
}
@keyframes animationFond {
    0%{ 
        opacity: 0;
        transform: scale(1.3);
    }
    90%{
        opacity: 0;
        transform: scale(1.3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.sectionHeader{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.logo, .logo2{
    width: 54vw;
    height: 54vw;
    max-width: 70rem;
    max-height: 70rem;
    background: url("../data/logo.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: animationLogo1 3s ease-in-out;
    transform: translate(-50%) scale(1);
    opacity: 1;
    position: absolute;
    left: 50%;
}
@keyframes animationLogo1 {
    0%{ 
        opacity: 0;
        transform: translate(-50%) scale(1);
    }
    90%{
        opacity: 1;
        transform: translate(-50%) scale(1.2);
    }
    100%{
        opacity: 1;
        transform: translate(-50%) scale(1);
    }
}
.logo2{
    animation: animationLogo2 5s ease-out;
    transform: translate(-50%) scale(1);
    opacity: 0;
}
@keyframes animationLogo2 {
    0%{ 
        opacity: 0;
    }
    57%{
        opacity: 0;
        transform: translate(-50%) scale(1);
    }
    58%{
        opacity: .3;
        transform: translate(-50%) scale(1);
    }
    100%{
        opacity: 0;
        transform: translate(-50%) scale(1.8);
    }
}
a, .btnJouer{
    color: var(--color1);
    cursor: pointer;
    transition: .3s;
    background: none;
    font-weight: 400;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition: .3s;
}
a:hover{
    color: var(--color2);
    background: var(--color1);
}
.btnJouer{
    color: var(--color2);
    background-color: white;
}
.sectionVideo, .sectionConcept, .sectionScreenshots, .sectionGalerie{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
video{
    margin: 0 auto;
    width: 80vw;
    max-width: 100rem;
    height: auto;
}
.sectionConcept{
    transform: translateY(100%);
    background: none;
}
.sectionScreenshots{
    transform: translateY(200%);
    background: none;
}
.sectionGalerie{
    transform: translateY(300%);
    background: none;
}
.imgSprite{
    width: 80vw;
    max-width: 100rem;
    height: auto;
    border-radius: 10px;
}
#contentContainer {
    width: 90vw;
    height: 50vw;
    max-width: 896px;
    max-height: 512px;
    overflow: hidden;
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
}
.wrapper__content {
    flex:0 0 100%;
    height: 100%;
    width: 100%;
    text-align: center;
}
[class="wrapper__content"]:nth-child(1) {
    background: url("../data/screenshot1.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
[class="wrapper__content"]:nth-child(2) {
    background: url("../data/screenshot2.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
[class="wrapper__content"]:nth-child(3) {
    background: url("../data/screenshot3.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
[class="wrapper__content"]:nth-child(4) {
    background: url("../data/screenshot4.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
[class="wrapper__content"]:nth-child(5) {
    background: url("../data/screenshot5.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.navLinks {
    position: fixed;
    bottom: 12vh;
    width: 100%;
}
.navLinks__ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.navLinks__itemLinks {
    list-style: none;
    cursor: pointer;
    background-color: var(--color4);
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    transition: .3s;
}
.sectionAnimation{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.set div{
    position: absolute;
    display: block;
}
.set div:nth-child(1){
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(2){
    left: 5%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(3){
    left: 10%;
    animation: animate 25s linear infinite;
}
.set div:nth-child(4){
    left: 15%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(5){
    left: 80%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
.set div:nth-child(6){
    left: 85%;
    animation: animate 25s linear infinite;
}
.set div:nth-child(7){
    left: 90%;
    animation: animate 10s linear infinite;
}
.set div:nth-child(8){
    left: 95%;
    animation: animate 22s linear infinite;
}
@keyframes animate{
    0%{
        top: -5%;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        top: 98%;
        opacity: 0;
        transform: rotate(45deg);
    }
}
.set2{
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}
.set3{
    transform: scale(0.8) rotate(180deg);
    filter: blur(4px);
}
.sectionAnimationImage{
    width: 6rem;
    height: auto;
}
.flèche{
    z-index: 4;
    width: 8rem;
    height: 8rem;
    stroke: none;
    transform: translateY(30vh) rotate(180deg);
    fill: var(--color1);
    animation: animFleche 2s ease-in-out infinite;
    opacity: 0;
    transition: .3s;
}
@keyframes animFleche {
    0%{
        opacity: 0;
        transform: translateY(30vh) rotate(180deg);
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(32vh) rotate(180deg);
    }
}
/*PAGE DE CHARGEMENT*/
.loader {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img {
    width: 200px;
    margin: 0 -6rem 0 0;
    transform: translate(-20px, 0px);
}
.loader h2 {
    margin-left: 1rem;
    font-size: 3vh;
    color: var(--color1);
    transform: translate(-20px, 0px);
}
.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.navOrdinateur{
    display: block;
    position: fixed;
    width: 100%;
    height: 10rem;
    z-index: 6;
    background: linear-gradient(180deg, var(--color3) 0%, rgba(0,0,0,0) 100%);
}
.ulOrdinateur{
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.liOrdinateur{
    margin: 0 4rem;
}
.navTelephone{
    display: none;
    position: fixed;
    width: 30rem;
    height: 100%;
    z-index: 6;
    background: var(--color5);
    transform: translateX(-100%);
    transition: .3s ease-in-out;
}
.navTelephoneActivated{
    transform: translateX(0);
}
.ulTelephone{
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.liTelephone{
    margin: 4rem;
}
.btnMenu, .btnMenuActivated{
    display: none;
    position: fixed;
    margin: 1rem;
    z-index: 300;
    color: var(--color2);
    background: var(--color1);
}
.filtre{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: var(--color5);
    opacity: .5;
}
@media screen and (max-width: 1250px) {
    .btnMenu{
        display: block;
    }
    .navOrdinateur{
        display: none;
    }
    .navTelephone{
        display: block;
    }
}
@media screen and (max-width: 700px) {
    .navTelephone{
        width: 100%;
    }
}